<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <title>Update details</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel='icon' href='{% static "assets/icon.png" %}'>
    <link rel='stylesheet' href='{% static "login/user.css" %}'>
    <link rel='stylesheet' href='{% static "notification.css" %}'>

    <script src="{% static 'notification.js' %}"></script>

    <div id="notification-container">
        {% for message in messages %}
        <div class="popup-container">
            <div class="popup {{ message.tags }}-popup">
                <div class="popup-icon {{ message.tags }}-icon">
                </div>
                <div class="{{ message.tags }}-message">{{ message }}</div>
                <div class="popup-icon close-icon" onclick="closePopup(this)">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" aria-hidden="true" class="close-svg">
                        <path d="m15.8333 5.34166-1.175-1.175-4.6583 4.65834-4.65833-4.65834-1.175 1.175 4.65833 4.65834-4.65833 4.6583 1.175 1.175 4.65833-4.6583 4.6583 4.6583 1.175-1.175-4.6583-4.6583z"
                        class="close-path"></path>
                    </svg>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</head>

<body>
    <section class="section_form">
        <form id="consultation-form" class="feed-form" action="{% url 'loginapp:user' %}" method="POST">
            {% csrf_token %}
            <a class="title">Update Information</a>
            <div class="grid">
                <div><input name="first_name" placeholder="First Name" type="text" value="{{ user.first_name }}"></div>
                <div><input name="last_name" placeholder="Last Name" type="text" value="{{ user.last_name }}"></div>
            </div>
            <input name="email" placeholder="email" type="email" value="{{ user.email }}" readonly>
            <input name="phone" placeholder="Phone Number" type="text" value="{{ user.phone }}">
            <input name="address" placeholder="address" type="text" value="{{ user.address }}">
            <input name="old_password" required="" placeholder="old password" type="password">
            <input name="new_password" placeholder="new password" type="password">
            <button type="submit" class="button_submit">Update</button>
        </form>
      </section>
</body>
</html>