@font-face {
    font-family: Aloevera;
    src: url('assets/fonts/Aloevera-OVoWO.ttf');
}

@font-face {
    font-family: Chuckle;
    src: url('assets/fonts/Chuckle-R9GPE.otf');
}

@font-face {
    font-family: Guavine;
    src: url('assets/fonts/GuavineDemoRegular-1jGgL.otf');
}

@font-face {
    font-family: Monainn;
    src: url('assets/fonts/MonainnRegular-RpWKo.otf');
}

@font-face {
    font-family: Shifty;
    src: url('assets/fonts/ShiftyNotesRegular-BWZ6d.ttf');
}

@font-face {
    font-family: SweetHipster;
    src: url('assets/fonts/SweetHipster-PzlE.ttf');
}

@font-face {
    font-family: Nair;
    src: url('assets/fonts/NairiNormal-m509.ttf');
}